script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='/js/script.js')

footer#footer
  p Copyright 2017&copy; Clover Inc.